<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Padr examplar webpage</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
 <!-- <link href="template.css" rel="stylesheet">
<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">-->
  <link rel="stylesheet" href="bower_components/angular-ui/build/angular-ui.css">

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="app" ng-controller="WhoisCtrl">

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
      <nav class="navbar navbar-default navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-padr">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar-padr" class="collapse navbar-collapse" >
          <ul class="nav navbar-nav">

            <li class="active"><a href="/">Home</a></li>

            <!--li  ng-repeat="device in whoisData"><a href="#">{{ device.deviceName}}</a> </li-->
            <li class="dropdown" ng-show="whoisData.length>0">
              <a  class="dropdown-toggle" data-toggle="dropdown" href="#" ng-show="whoisData.length>0" >Available devices<span class="caret"></span></a>
              <ul class="dropdown-menu" >
                <li>
                  <input type="text" ng-model="nameFilter" placeholder="Search..." ng-click="$event.stopPropagation()"/>
                </li>
                <li class="divider"></li>
              <li ng-repeat="device in whoisData | filter: nameFilter">
                <a ng-click="getDeviceData(device.id)" href="#/whois">{{device.deviceName}}</a>
              </li>

              </ul>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
      </nav>

      <div class="container" >
        <div ng-show="whoisData.length==0"><h1>Whops!</h1>
        <span> Someone forgot to run the app!</span>
        </div>

          <div ng-view class="container" ng-show="whoisData.length>0"></div>
      </div>
  <button class="btn btn-default" ng-click="subscribe(1,1,100)">Get</button>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="viewscommon.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-ui/build/angular-ui.min.js"></script>
  <script src="bower_components/bootstrap/js/ui-bootstrap-tpls-0.13.0.min.js"></script>"
  <script src="app.js"></script>
  <!--- controllers -->
  <script src="controllers/WhoisCtrl.js"></script>
  <script src="controllers/MainCtrl.js"></script>
  <script src="controllers/ApplicationCtrl.js"></script>
  <!--- services -->
  <script src="directives/directivesWhois.js"></script>
  <script src="services/applicationGetter.js"></script>
  <script src="services/subscribeAttr.js"></script>

  <script src="services/whois.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
