
<div class="tabbable tabs-below navbar navbar-default" ng-show="deviceData != undefined">


    <ul class="nav nav-tabs">
        <li ng-class="{active: selectedTab == 1}">
            <a  ng-click="selectedTab = 1;">Info</a>
        </li>
        <li ng-class="{active: selectedTab == 2}">
            <a ng-click="selectedTab = 2;">Applications</a>
        </li>
        <li ng-class="{active: selectedTab == 3}">
            <a ng-click="selectedTab = 3;">Charts</a>
        </li>
    </ul>

    <div class="tab-content" ng-show="selectedTab == 1">
        <h1>{{ deviceData.deviceName }}</h1>
        <p>Ip: {{ deviceData.deviceAddress }}</p>
        <p>Medium: {{ deviceData.deviceCommunicationPort }}</p>
        <p>Status: {{ deviceData.status }} </p>
        </tab>
    </div>

    <div class="tab-content" ng-show="selectedTab == 2">
        <span ng-repeat="application in applications" ><whois-app app="application"></whois-app></span>
    </div>

    <div class="tab-content" ng-show="selectedTab == 3">
        <h1>TODO</h1>
    </div>
</div>
