<div class="container">
    <h2 >{{app.name}}<small>{{app.id}}</small></h2>

    <ul>
        <li ng-repeat="attribute in app.attributes">{{attribute.attrName}}
            <button class="btn btn-default"  ng-show="attribute.get" ng-click="subscribe(app.id,attribute.attrId,100)">Get</button> <a ng-show="attribute.set">Set</a> </li>
    </ul>
</div>